.module-overview {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__chart {
        display: flex;
        flex-direction: column;
    }
}

.module-users {
    &__row--inactive {
        opacity: 0.6;
    }
}
